body {
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}

.terminal {
  color: #3EE440;
  font-family: 'Consolas', 'Andale Mono', 'Courier New', monospace;
}

.terminal-text {
  display: inline;
}
.terminal-section {
  display: block;
  margin-top: 15px;
}
.terminal-section-text {
  display: block;
  margin-left: 5%;
}

.terminal-text-inverse {
  display: inline;
  color: #000;
  background-color: #3EE440;
}

.terminal-rectangle {
  display: inline;
  background-color: #3EE440;
}

.terminal-heading {
  display: block;
  color: #000;
  background-color: #3EE440;
}

.terminal-table td {
  vertical-align: top;
  padding-right: 20px;
}
.terminal-options-table td {
  padding-bottom: 10px;
}
