body {
  background-color: #000;
}

.terminal {
  display: inline;
  font-family: 'Andale Mono', 'Ubuntu Mono', 'Courier New', monospace;
}

.terminal-text {
  color: #3EE440;
}

.terminal-text-inverse {
  color: #000;
  background-color: #3EE440;
}

.terminal-block {
  color: #3EE440;
  background-color: #3EE440;
}
